RewriteEngine On

RewriteRule ^$ ./views/login/login.php
RewriteRule ^login$ ./views/login/login.php [NC]
RewriteRule ^signin$ ./controllers/login/signin.php
RewriteRule ^loginfailed/(.*) ./views/login/login.php?$1
RewriteRule ^home$ ./views/app/index.php
RewriteRule ^img\/(.*\.(gif|jpg|png|jpeg))?$ ./views/app/img/$1 [QSA,L]
RewriteRule ^game/([0-9]+) ./views/app/rating.php?id=$1
RewriteRule ^register$ ./views/login/register.php
RewriteRule ^logout$ ./controllers/login/logout.php
RewriteRule ^signup$ ./controllers/login/process.php
RewriteRule ^registerfailed/(.*) ./views/login/register.php?$1